body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "retro";
}

h1, h2, h3{
    color:#20C20E;
}
.bodyContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container{
    box-shadow: 0 0 50px 10px #a5aaac;
}
#gridSquareContainer{
    display:flex;
}
.gridSquare{
    background-color: rgb(28, 189, 28);
}

.slider{
    -webkit-appearance: none;
    background-color: grey;
    border-radius: 20px;
    opacity: .9;
    height: 10px;
}

.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(28, 189, 28);
}

#value{
    color: rgb(28, 189, 28);
}

.colorButton{
    transition: .1s;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-color: #20C20E;
    background-color: black;
    color: #20C20E;
    border-radius: 10px;
    font-family: "retro";
}

.colorButton:hover{
    box-shadow: 0 0 25px 1px #a5aaac;
}
.slideContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#value{
    margin-top: 10px;
}