body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "retro";
}

h1, h2, h3{
    color:#20C20E;
}
.bodyContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container{
    box-shadow: 0 0 50px 10px #a5aaac;
}
#gridSquareContainer{
    display:flex;
}
.gridSquare{
    background-color: rgb(28, 189, 28);
}

.slider{
    -webkit-appearance: none;
    background-color: grey;
    border-radius: 20px;
    opacity: .9;
}

.slider:hover{
    opacity: 1;
}
.slider::webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    background: rgb(28, 189, 28);
}

#value{
    color: rgb(28, 189, 28);
}